body {
  background-color: #b6ebf3;
}

h2 {
    
}    

.social{
  text-decoration: ;
}

.home-paragraph-3{
  max-width: 960px;
  margin: 0 auto;
  text-align: center
}

a{
  color: #0f7173;
  text-decoration: none;
}

main{
  background-color: #e6f3f5;
}

footer{
  text-align: center
}

#content {
  max-width: 960px;
  margin: 0 auto;